a:active, a:hover {
    color: #000000 !important;
    text-decoration: none !important;
}

.wit-spc {
    white-space: pre;
}

.zmt-10 {
    margin-top: 10px;
}

.ws-pl {
    white-space: pre-line;
}

.font-16 {
    font-size: 16px !important;
}

.text-black {
    color: #000000 !important;
}

#main_card_section input, #main_sub_section input {
    background: none;
}

#main_card_section input::placeholder, #main_sub_section input::placeholder {
    color: #000000 !important;
}

input:disabled, textarea:disabled {
    opacity: 1;
    color: #000000;
}

.about {
    font-family: 'Slabo 27px', serif;
    font-weight: normal;
}

.main_hr {
    border-top: 1px dotted #565656;
    height: 1px;
    width: 30%;
    left: 35%;
    margin-bottom: 30px;
}

.main_p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #878787;
}

.loader_background {
    background-image: linear-gradient(to bottom left, #4082C0, #AB42E2);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.loader_background.fade {
    z-index: 0;
}

.loader_background > img {
    width: 70%;
    display: flex;
    margin: auto;
}

/* Z-NAME Card */
#card-content {
    display: flex;
    margin: 0;
}

#card-content > p {
    margin: 0;
}

i {
    font-size: 15px;
    margin-right: 5px;
}

#add_video_wrapper {
    display: flex;
    width: 94vw;
    flex-direction: column;
    margin-bottom: 20px;
}

#add_video_wrapper button {
    width: 100%;
    color: white;
    background: #85878a;
    border: 0;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#video_iframe_section iframe {
    width: calc(100vw - 22px);
    height: 28vh;
    display: none;
}

#add_video_wrapper {
    display: none;
}

#card_type {
    max-width: 400px;
    font-size: 14px;
    color: #000000;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    margin: 13px auto 0;
    width: 93vw;
    text-align: center;
    opacity: 1;
    z-index: 99;
    border: 2px solid #E53935;
}

#add_youtube::placeholder {
    color: #000000
}

#video_wrapper img {
    display: flex;
}

#video_wrapper {
    display: flex;
    flex-direction: column;
}

#zname_total_wrapper {
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
}

#rep_img img {
    max-width: 94vw;
    min-width: 94vw;
    width: 94vw;
    box-sizing: border-box;
    max-height: 323px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

#main_card_section {
    display: flex;
    flex-direction: row;
    width: 94vw;
    max-width: 400px;
}

#main_sub_section {
    width: 94vw;
    max-width: 400px;
}

#main_left_section img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.speficif_spec div img {
    height: 15px;

}

#main_left_section {
    margin-right: 10px;
}

#rep_img {
    margin: 13px 0;
    display: flex;
    justify-content: center;
}

.speficif_spec {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.speficif_spec div {
    display: flex;
    align-content: center;
    justify-content: center;
}

.speficif_spec div p {
    display: flex;
}

#rep_title {
    margin: 5px 0;
}

#main_right_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main_right_section a {
    color:#000000;
    width: 62vw;
}

#main_card_section {
    margin-bottom: 10px;
}

#social_link {
    display: flex;
    justify-content: center;
    margin: 0 10px 15px;
    flex-direction: column;
    width: 94vw;
    max-width: 400px;
}

.social_control {
    margin-top: 10px;
    font-size: 14px;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    color: #ffffff;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

.button_wrapper {
    display: flex;
    flex-direction: row;
}

#social_link div img {
    display: flex;
    justify-content: center;
    max-width: 70px;
    margin: 0 5px;
    cursor: pointer;
}

#main_pic, #main_photo, #ad_sec1, #ad_sec2, #ad_sec3 {
    display: none;
}

#video_section img {
    width: 94vw;
    height: 30vh;
    cursor: pointer;
    max-width: 400px;
    cursor: pointer;
}

#total_ad_section div img {
    max-width: 94vw;
    display: flex;
    margin: 0 auto;
    height: auto;
}

#total_ad_section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
}

input {
    border: 0;
    width: 100vw;
    font-size: 14px;
    padding: 0;
}

#card_type::placeholder {
    color: #000000;
}

input::placeholder {
    color: #000000;
    font-size: 14px;
    width: auto;
}

#social_link img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

#social_link a {
    flex: 1;
    justify-content: center;
    display: flex;
}

input[type="url"] {
    display: none;
}

#rep_name {
    height: 30px;
    font-weight: bold;
    font-size: 18px;
}

#rep_name::placeholder {
    font-size: 18px !important;
}

#ad_contetn1, #ad_contetn2, #ad_contetn3 {
    width: 94vw;
    margin: 10px 0;
    color: black;
    font-family: arial;
    font-size: 14px;
    border: 0;
    min-height: 13vh;
    max-width: 400px;
    text-align: center;
}

#ad_contetn1::placeholder, #ad_contetn2::placeholder, #ad_contetn3::placeholder {
    min-height: 100px;
    text-align: top;
    color: black;
    font-family: arial;
    font-size: 14px;
}

#profile_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#main_right_section input {
    width: calc(100vw - 38vw);
    background: none;
    color: #000000;
}

.speficif_spec div input {
    width: 100%;
    height: 24px;
}

#main_sub_section .speficif_spec div input {
    width: 100%;
}

#main_left_section {
    display: flex;
}

#total_ad_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add_youtube {
    width: 94vw;
    border: 1px solid #000000;
    height: 170px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
    max-width: 400px;
}

#total_ad_section input {
    width: 94vw;
}

.spec_section {
    min-height: 10px;
    align-items: center;
}

.img_wrapper img {
    margin-right: 5px;
}

#video_section {
    margin-bottom: 20px;
}

#add_video_wrapper.show {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#video_wrapper.hide {
    display: none;
}

#video_iframe_section.show iframe {
    display: flex;
    max-width: 400px;
}

#button_wrapper {
    display: flex;
    margin-bottom: 5px;
}

#add_link_wrapper {
    display: flex;
    justify-content: center;
}

#add_link_wrapper div input {
    margin-top: 10px;
}

#facebook_addlink.show input, #facebook_addlink.show button {
    display: flex;
}

#twitter_addlink.show input, #twitter_addlink.show button {
    display: flex;
}

#instagram_addlink.show input, #instagram_addlink.show button {
    display: flex;
}

#band_addlink.show input, #band_addlink.show button {
    display: flex;
}

#kakao_addlink.show input, #kakao_addlink.show button {
    display: flex;
}

#add_link_wrapper button {
    display: none;
}

#add_link_wrapper div input {
    width: 93vw;
    border: 1px solid #000000;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
    max-width: 400px;
}

#add_link_wrapper div button {
    width: 100%;
    color: white;
    background: #85878a;
    border: 0;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.card_register_btn {
    width: 100%;
    border-radius: 0;
    background-image: radial-gradient(circle at 10% 20%, rgb(67, 144, 233) 0%, rgb(78, 226, 198) 90.1%);
    border: 0;
    color: #ffffff;
    height: 45px;
}

/* Card View */
.make_my_name {
    display: flex;
    position: fixed;
    width: 29px;
    right: 0;
    bottom: 20%;
    padding: 10px 3px 10px 5px;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    line-height: 16px;
    flex-direction: column;
    text-decoration: none;
    filter: drop-shadow(1px 1px 3px #85878a);
    z-index: 99;
    background: #ffffff;
    color: #000000;
}

#updowntoggle {
    display: flex;
    position: fixed;
    bottom: 40px;
    right: 0px;
    flex-direction: column;
    z-index: 99;
}

#goup, #godown {
    display: flex;
    width: 29px;
    height: 29px;
    border-radius: 20px 0 0 20px;
    margin: 9px 0;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 3px #85878a);
    background: #ffffff;
    color: #000000;
}

#goup i, #godown i {
    font-size: 15px;
    transform: translateX(4px);
    color: #000000;
}

#complete_edit {
    bottom: 0;
    width: 100%;
    position:fixed
}

#rep_address {
    width: 94vw;
    border: 0;
    resize: none;
    background: none;
}

.align_address {
    margin-bottom: auto;
    margin-top: 6px;
}

#rep_address::placeholder {
    color: black;
    font-family: arial;
    font-size: 14px;
}

/* Loading */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.6);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#map {
    max-width: 94vw;
    min-width: 94vw;
    width: 94vw;
    height: 94vw;
    display: block;

}